.shiny-output-error{visibility: hidden;}
#hiddenbutton{display: none;}
#amb{margin-top:-10px;}
a#downloadThresholdCSV{background-color: transparent; border:none; float:right;}
a#downloadsdCSV{background-color: transparent; border:none; float:right;}
a#downloadambCSV{background-color: transparent; border:none; float:right;}
a#downloadMerged{background-color: transparent; border:none; float:right;}
#filetable{width:90%; overflow-x:scroll;}
#sdThresholdPlotDL{color:black; float:right; margin-top:-15px; position: absolute; right: 0px; margin-right: 10px; z-index: 9999;}
#thresholdPlotDL{color:black; float:right; margin-top:-15px; position: absolute; right: 0px; margin-right: 10px; z-index: 9999;}
#ambthresholdPlotDL{color:black; float:right; margin-top:-15px; position: absolute; right: 0px; margin-right: 10px; z-index: 9999;}
.box{margin-bottom:15px;}